<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Cocktails</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
            <li class="nav-item"><a class="nav-link" href="/login_page">Login</a></li>
        </ul>
    </nav>
    <!-- <div class='container'>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div> -->

    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>
</html>