{% extends 'base.html' %}


{% block content %}
<div class="container">
    <img src="{{drink['strDrinkThumb']}}" height="120" width="90">
    <table class="table table-striped">
        <tbody>
            
            <tr>
                <td>Drink Name:</td>
                <td>{{drink['strDrink']}}</td>
                
            </tr>
            <tr>
                <td>Glass:</td>
                <td>{{drink['strGlass']}}</td>
                
            </tr>
            <tr>
                <td>How to make:</td>
                <td>{{drink['strInstructions']}}</td>
            </tr>
            <tr>
                <td>Ingredients:</td>
                <td>
                {% for details in drink_details %}
                
                    {% for item in details %}
                    {{ item }}
                 
                    {% endfor %} ,
                
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <h1>{{drink_name}}</h1>
<h2>{{glass}}</h2> -->


{% endblock %}